:root {
    --page-bg-color: #F9EED7;
    --primary-color: #F5E1B7;
    --tertiary-color: #DBC9A2;
    --quaternary-color: #C7B693;
    --quinary-color: #AFA080;
    --dark-color: #8C8066;
    --accent-color: #C24428;
    --secondary-color: #B88319;
}

html {
    width: 100vw;
    height: 5000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

body {
    width: 70vw;
    min-width: 1344px;
    background-color: #F9EED7;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    margin: 0;
    margin-top: 60px;
}

button {
    font-family: 'Outfit', sans-serif;
}