.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 220px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.goal-bar {
    background-color: var(--dark-color);
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.result-bar {
    background-color: var(--dark-color);
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.goal-bar>p,
.result-bar>p {
    width: 240px;
    text-align: center;
}

.line {
    background-color: var(--quinary-color);
    width: 4px;
    height: 80%;
    border-radius: 2px;
}

.goal-input,
.result-input {
    flex: 1;
    display: flex;
    justify-content: space-around;
}