.table {
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.table-row {
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 20px;
}

.cards-data {
    width: 60px;
    height: 60px;
    margin: 0px 15px 0px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: solid 1px var(--tertiary-color);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-data {
    /* width: 60px; */
    flex: 1;
    height: 60px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 10px;
    border: solid 1px var(--tertiary-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.table-header {
    width: 100%;
    height: 60px;
    display: flex;
    border-radius: 20px;
}

.card-word {
    width: 60px;
    height: 60px;
    margin: 0px 15px 0px 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}

.table-name {
    flex: 1;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
}